black
coverage
cryptography
django>=4.2,<4.3
django[argon2]
django-debug-toolbar
boto3>=1.34
gunicorn
jsonschema
pdf2image
psycopg2-binary
pycryptodome
PyJWT
pysaml2
python-json-logger
pyyaml
redis
tzdata
woothee